.container__button__button {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0 4rem;
  padding-bottom: 2rem;
  font-size: 4em;
  background-color: #f8fafc;
}
.answers {
  margin-top: 40px;
  /* margin: 20px auto auto 0;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center; */

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 10px;
  gap: 20px;
  max-width: 1200px;

  justify-items: center;
}

.answer_list {
  overflow: hidden;
  cursor: pointer;
  font-size: 24px;
  white-space: normal;
  width: 100%;
  cursor: hand;
  border-radius: 0.45rem;
  height: 120px;
  background-color: #f8fafc;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
}

.question {
  margin-top: 20px;
  white-space: normal;
  font-size: 16px;
}
.selected {
  /* background-color: aqua; */
}
@media screen and (max-width: 500px) {
  .answers {
    grid-template-columns: auto; /* Mengubah menjadi satu kolom */
  }
}
