.counter__time {
  position: fixed;
  top: 0;
  /* height: 70px; */
  width: 100%;
  background-color: #d8b4fe;
  color: #7e22ce;
  font-size: 2em;
  padding: 1rem 2rem;
}
.time__over {
  color: #fb7185;
}

.incorrect_answer {
  color: #a3e635;
}
